body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Define a altura mínima do body para a altura da tela */
    margin: 0;
    font-family: Arial, sans-serif; /* Fonte padrão opcional */
    text-align: center; /* Centraliza o texto dentro dos elementos */
    background-image: url(background.jpg);
    background-size: contain;
    background-size: cover;
  }

.square{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: black;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.textSquare{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: space-between; /* Centraliza verticalmente */
  flex-direction: column;
}

.textTitle{
  font-family: 'Inter';
  color: white;
  font-size: 36px;
  font-weight: bold;
  align-self: flex-start;
}

.textBody{
  font-family: 'Inter';
  color: white;
  font-size: 26px;
  text-align: left;
  font-weight:lighter;
}
