body {
    display: flex;
    justify-content: space-around; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column;
    min-height: 100vh; /* Define a altura mínima do body para a altura da tela */
    margin: 0;
    font-family: Arial, sans-serif; /* Fonte padrão opcional */
    text-align: center; /* Centraliza o texto dentro dos elementos */
    background-image: url(background.jpg);
    background-size: contain;
    background-size: cover;
  }

.square{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: black;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.textSquare{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: space-between; /* Centraliza verticalmente */
  flex-direction: column;
}

.textTitle{
  font-family: 'Inter';
  color: white;
  font-size: 36px;
  font-weight: bold;
  align-self: flex-start;
}

.textBody{
  font-family: 'Inter';
  color: white;
  font-size: 26px;
  text-align: left;
  font-weight:lighter;
}

.photo{
  width: clamp(100px, 20vw, 300px); /* Ajusta a largura conforme a tela */
  height: clamp(150px, 25vh, 400px); /* Ajusta a altura conforme a tela */
  background-image: url(1.png);
  background-size: contain; /* A imagem será redimensionada sem ser cortada */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Não repete a imagem */
}

/* Para telas de tablet ou superiores */
@media (min-width: 768px) {
  .photo {
    width: 15vh;      /* Imagens menores para que caibam mais na tela */
    height: 20vh;    /* Ajuste da altura proporcionalmente */
  }
}

/* Para telas grandes de computador */
@media (min-width: 1024px) {
  .photo {
    width: 50vh;      /* Imagens ainda menores, para caberem mais em uma tela grande */
    height: 70vh;    /* Ajuste da altura proporcionalmente */
  }
}

.postPhoto{
  width: clamp(300px, 20vw, 500px); /* Ajusta a largura conforme a tela */
  height: clamp(280px, 25vh, 480px); /* Ajusta a altura conforme a tela */
  background-size: contain; /* A imagem será redimensionada sem ser cortada */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Não repete a imagem */
}

/* Para telas de tablet ou superiores */
@media (min-width: 768px) {
  .postPhoto {
    width: 75vh;      /* Imagens menores para que caibam mais na tela */
    height: 50vh;    /* Ajuste da altura proporcionalmente */
  }
}

/* Para telas grandes de computador */
@media (min-width: 1024px) {
  .postPhoto {
    width: 100vh;      /* Imagens menores para que caibam mais na tela */
    height: 75vh;    /* Ajuste da altura proporcionalmente */
  }
}

.textarea-info{
  width: 100%;
  min-height: 80px;
  margin-top: 15px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: bolder;
  border-radius: 3px;
}

.button-enviar{
  width: 20%;
  min-height: 50px;
  background-color: black;
  color: white;
  font-family: 'Inter';
  font-size: clamp(14px, 3vw, 24px); /* Ajusta entre 14px e 24px conforme o tamanho da tela */
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  margin-top: 15px;
  align-self: center;
  font-weight: bold;
  cursor: pointer;
}

.check{
  width: clamp(70px, 20vw, 120px); /* Ajusta a largura conforme a tela */
  height: clamp(70px, 25vh, 120px); /* Ajusta a altura conforme a tela */    /* Defina a altura desejada */
  background-image: url("checkmark.svg");
  background-size: cover; /* Ajusta o SVG ao tamanho do elemento */
  align-self: center;
}

.loading{
  width: clamp(70px, 20vw, 120px); /* Ajusta a largura conforme a tela */
  height: clamp(70px, 25vh, 120px); /* Ajusta a altura conforme a tela */    /* Defina a altura desejada */
  background-image: url("loading.gif");
  background-size: cover; /* Ajusta o SVG ao tamanho do elemento */
  align-self: center;
}